body {
  font-family: verdana;
  line-height: 1;
  font-weight: normal;
  letter-spacing: 1px;
	color: white;
	background: url('../images/splash_image2.jpg');
  background-size: cover;
  background-position: left;
  background-attachment: fixed;
}




